/* Auth container styles */
.auth-container {
  width: 350px;
  padding: 30px;
  margin: auto;
  background-color: #2e2e2e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #ccc;
}

.auth-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
}
